
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c0c1ca;
    color: #f8f2f2;
    font-family:"poppins", system-ui, -apple-system, "segoe UI" Roboto, "Helvetica neue" Arial ;
    margin:0;
    line-height: 1.5;
    height: 100%;
    -webkit-font-smoothing:antialiased;
    background-image: url(images/c3.jpg);
    backdrop-filter: blur(8px);
    background-size: cover;
   }
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem 2rem;
    width:100%;
}


section alt{
    background:linear-gradient(160deg, #0f1113, #1c1f26);
    padding: 40px 0;
    border-radius: 12px;
}
h1,h2,h3{
    font-family: "merriweather", serif;
    letter-spacing: 0.5px;
}
p,li{
    font-family: "poppins";
}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 20px;
}
.nav-inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


/* Navbar */
.navbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    height:50px;
}
.nav-mobile{
    position:relative;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height:100px;
    width:150px;
    padding-top: 10px;
    padding-left:2px;
    margin-right: 10px;
}

header .logo {
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color:rgb(161, 26, 26);
    text-decoration: none;
    text-decoration: none;
    margin-left:2rem;
}
div a{
    text-decoration: none;
    margin-left:2px;
    color:rgb(161, 26, 26);
    font-size: 17px;
    font-weight: 600;
    transition: color 0.3s;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top:20px;
    justify-content:space-between;
    top:0;
    margin-bottom: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(161, 26, 26);
    font-weight: 500;
    align-items: center;
    transition: color 0.3s;
    margin-bottom: 20px;
    
}

.nav-links a:hover {
    color: #120e49; /* subtle hover effect */
}
.nav-links a.active{
    color: #280e58;
}

/* Hamburger */
.navbar input[type=checkbox] {
    display: none;
}

.navbar .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar .hamburger span {
    height: 3px;
    width: 25px;
    background: rgb(161, 26, 26);
    margin: 4px 0;
    transition: 0.4s;
}




/* Highlights Section */
.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    text-align: center;
}

.highlight {
    background: #fff;
    border: 2px solid #d3d3d3;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: horizontal;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.highlights img{
    width:300px;
    height:215px;
    border-radius: 15px;
    display: inline-block;
    margin:0;
    margin-left: -30px;
    padding:0;
    
}
.highlights p{
    font-size:17px;
}
.highlight-discover img{
    margin-top: 35px;
}
.highlight-discover p{
    width:360px;
    align-items: center;
}
.highlight-connect img{
padding-top: -27;
}

.highlight:hover {
    transform: translateY(-5px);
}
.highlights img:hover {
    transform: scale(1.05);
}


/* Responsive Navbar */
@media screen and (max-width: 650px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        top: 33px;
        left: 110px;
        right:0;
        padding: 10px 0;
    }
    .navbar ul li {
        text-align: center;
        margin: 10px 0;
    }
    .navbar input[type=checkbox]:checked ~ ul {
        display: flex;
    }
    .navbar .hamburger {
        display: flex;
        margin-top:15px;
        margin-left:100px;
    }
    
}
@media screen and (min-width:485px){
    .nav-links{
        display:flex;
        justify-content:center;
        gap:12px;

    }
    .hamburger{
        display: flex;
    }
}

/* Buttons */
button, .btn {
    background-color:rgb(161, 26, 26);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
    margin-bottom: 35px;
    display:block;
}

button:hover, .btn:hover {
    background-color: #1CA8A8;
}

/* Hero / Section */
.hero {

    flex: 1;
    min-width: 300px;
    text-align: center;
    max-width: 100%;
    background-size: cover; background-position: center; background-repeat: no-repeat; 
    width: 100%;
    height: auto;
    margin-top: 0px;

}
.hero-content{
    max-width: 750px;
    color:rgb(253, 244, 244);
    padding:50px 0;
    font-weight: 400;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 32px;
    color:rgb(161, 26, 26);
    margin-bottom: 20px;
    margin-top: 10px;
}

.hero p {
    font-size: 21px;
    max-width: 800px;
    margin: 0 auto 30px;
}


/* Boxes / Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.card-container img{
    width:220px;
    height:290px;
    justify-content: center;
    border-radius:8px;
    display: block;
}
.card h3{
    color:#ccc;
}

.card {
    background:none;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 6px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 230px;
    height:340px;
    border:none;
    border-radius: 12px;
    transition: transform 0.3s;
}
.community-card p{
line-height: 24px;
font-size: 18px;
}
.profile-card p{
line-height: 24px;
font-size: 18px;
}
.profile-card{
    background-color: #060c14e7;
    width:320px;
    height:260px;
    
}
.profile-card h3{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.community-card h3{
     margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.community-card{
   background-color: #060c14e7;
    width:320px;
    height:260px;
}


.card:hover {
    transform: scale(1.05);
}
.chat-box{
    position:absolute;
}

.boxes{
    width:1000px;
    background-color: #06182b;
}
.chat-box .user1{
    position: relative;
    width:300px;
    color:red;
   
}
.chat-box .user2{
    position: relative;
    width:300px;
    
}
span{
    color:blue;
}
/* Forms */
form {
    max-width: 350px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height:350px;
    margin-bottom: 80px;

}
form h2{
    color:rgb(161, 26, 26);
}
form p{
    color:black;
    margin-top:5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    background: #d3d3d3;
    color: #0A2441;
    margin-top: 40px;
    height:100px;
}
