
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    color: black;
    font-family:"poppins", system-ui, -apple-system, "segoe UI" Roboto, "Helvetica neue" Arial ;
    margin:0;
    line-height: 1.5;
    height: 100%;
    -webkit-font-smoothing:antialiased;
    backdrop-filter: blur(8px);
    background-size: cover;
   }
nav{
  position: sticky;
  top:0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  padding: 0px 25px 0px 25px;
  border-radius:7px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.15);
  z-index: 1000;
}
.nav-links a{
    gap:20px; 
    color:rgb(161, 26, 26);
    margin-left: 40px;
    font-size: 18px;
    text-decoration: none;
}

nav .left-side a{
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color:rgb(161, 26, 26);
  text-decoration: none;
  margin-left:20px;
}

.sidebar {
  display:none;
}
.nav-links a.active{
    color:rgba(58, 4, 58, 1);
}
label{
  display: none;
}

body > input{
  visibility: hidden;
  position: absolute;
}
section alt{
    background:linear-gradient(160deg, #0f1113, #1c1f26);
    padding: 40px 0;
    border-radius: 12px;
}
h1,h2,h3,h4{
    font-family: "merriweather", serif;
    letter-spacing: 0.5px;
}
p,li{
    font-family: "poppins";
    font-size: 1.2rem;
}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 0px;
}


/* Highlights Section */
.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    text-align: center;
}

.highlight {
    background: #1a1919ff;
    border: 2px solid #d3d3d3;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: horizontal;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 250px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.highlights img{
    width:300px;
    height:215px;
    border-radius: 15px;
    display: inline-block;
    margin:0;
    margin-left: -30px;
    padding:0;
    
}

.highlight-discover img{
    margin-top: 35px;
}
.highlight-discover p{
    width:360px;
    align-items: center;
}
.highlight-connect img{
padding-top: -27;
}

.highlight:hover {
    transform: translateY(-5px);
}
.highlights img:hover {
    transform: scale(1.05);
}


/* Responsive Navbar */
@media (max-width: 1080px){
  .nav-links{
    display: none;
  }
  p, h3{
    font-size: 0.95rem;
  }
  label{
    display: block;
    cursor: pointer;
  }
  label.hamburger span{
    display: block;
    background: rgb(161, 26, 26);
    height: 3px;
    width: 28px;
    margin: 7px;
  }
  label.cross span:nth-child(1){
    display: block;
    background: red;
    width: 30px;
    height: 4px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    margin-top: 0px;
  }
  label.cross span:nth-child(2){
    display: block;
    background: red;
    width: 30px;
    height: 4px;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
    margin-top: 17px;
  }
  input#open:checked ~ nav label.hamburger{
    display: none;
  }
  input#close:checked ~ nav label.cross{
    display: none;
  }
   input#open:checked ~ .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 300px;
    z-index:500;
    background: rgba(245, 243, 243, 0.9);
    flex-wrap: wrap;
    width:180px;
  }
  .sidebar a{
    margin: 20px; 
    color:rgb(161, 26, 26);
    font-size: 18px;
    text-decoration: none;
  }
  .sidebar a.active{
   color:rgba(58, 4, 58, 1);
  }
}

/* Buttons */
button, .btn {
    background-color:rgb(161, 26, 26);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;
    margin-bottom: 35px;
    display:block;
}

button:hover, .btn:hover {
    background-color: #1CA8A8;
}

/* Hero / Section */
.hero {

    flex: 1;
    min-width: 300px;
    text-align: center;
    max-width: 100%;
    background-size: cover; background-position: center; background-repeat: no-repeat; 
    width: 100%;
    height: auto;
    margin-top: 0px;

}
.hero-content{
    max-width: 750px;
    color:#0f1113(253, 244, 244);
    padding:50px 0;
    font-weight: 400;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 26px;
    color:rgb(161, 26, 26);
    margin-bottom: 20px;
    margin-top: 10px;
}

.hero p {
    max-width: 800px;
    margin: 0 auto 30px;
}


/* Boxes / Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.card-container img{
    width:220px;
    height:290px;
    justify-content: center;
    border-radius:8px;
    display: block;
}
.card h3{
    color:black;
}

.card {
    background:none;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 6px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 230px;
    height:340px;
    border:none;
    border-radius: 12px;
    transition: transform 0.3s;
}
.community-card p{
line-height: 24px;
font-size: 18px;
}
.profile-card p{
line-height: 24px;
font-size: 18px;
}
.profile-card{
    background-color: #383a253d;
    width:320px;
    height:260px;
    
}
.profile-card h3{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.community-card h3{
     margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}

.community-card{
   background-color:  #383a253d;
    width:320px;
    height:260px;
}


.card:hover {
    transform: scale(1.05);
}
.chat-box{
    position:absolute;
}

.boxes{
    width:1000px;
    background-color: #06182b;
}
.chat-box .user1{
    position: relative;
    width:300px;
    color:red;
   
}
.chat-box .user2{
    position: relative;
    width:300px;
    
}
span{
    color:blue;
}
/* Forms */
form {
    max-width: 350px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height:370px;
    margin-bottom: 350px;

}
form h2{
    color:rgb(161, 26, 26);
}
form p{
    color:black;
    margin-top:5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    background: #d3d3d3;
    color: #0A2441;
    margin-top: 40px;
    height:110px;
    margin-bottom: 0px;
}
